<%= render 'shared/content_title', title: "Edit Profile" %>

<%= render 'shared/validation_error', object: @user %>

<div class="alert alert-info">
  You can update your 'username' without the need to change the password.
  <a class="close" data-dismiss="alert">&#215;</a>
</div>


<div class="well">
  <%= form_for @user do |f| %>
    <div class='control-group'>
      <%= f.label :username %>
      <%= f.text_field :username %>
    </div>
    <div class='control-group'>
      <%= label_tag :old_password %>
      <%= password_field_tag :old_password %>
    </div>    
    <div class='control-group'>
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
    <%= f.submit 'Update', class: 'btn btn-primary' %>
  <% end %>
</div>
