<% show_comment_post ||= false %> <!-- this sets this var as a default to false (if no value is passed to it) -->

<div class="row">
  <div class="span2 well text-center">
    <% if logged_in? %>
      <div id="vote_up_<%= comment.id %>">
        <% if user_voted?(comment) %>
          <%= link_to vote_change_post_comment_path(comment.post, comment, vote: true), method: 'patch', remote: true do %>
            <i class="icon-circle-arrow-up"></i>
          <% end %>        
        <% else %>
          <%= link_to vote_post_comment_path(comment.post, comment, vote: true), method: 'post', remote: true do %>
            <i class="icon-circle-arrow-up"></i>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <span id="comment_<%= comment.id %>_votes"><%= comment.total_votes %></span>
    <% if comment.total_votes == 1 || comment.total_votes == -1 %>
      vote
    <% else %>
      votes
    <% end %>
    <% if logged_in? %>
      <div id="vote_down_<%= comment.id %>">
        <% if user_voted?(comment) %>
          <%= link_to vote_change_post_comment_path(comment.post, comment, vote: false), method: 'patch', remote: true do %>
            <i class="icon-circle-arrow-down"></i>
          <% end %>        
        <% else %>
          <%= link_to vote_post_comment_path(comment.post, comment, vote: false), method: 'post', remote: true do %>
            <i class="icon-circle-arrow-down"></i>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <% if logged_in? %>
      <div class="well well-small" id="user_vote_<%= comment.id %>">
        <% if user_voted?(comment) %>
          <small>your vote: <%= vote_for_show(comment) %></small>
        <% else %>
          <small>your vote: none</small>
        <% end %>
      </div>
    <% end %>
    <span id="comment_<%= comment.id %>_msg"></span>
  </div>

  <div class="well span8">
    <p>
      <%= comment.body %> <span class="quiet">
      <% if show_comment_post %>
        on</span> <%= link_to comment.post.title, post_path(comment.post) %>
      <% end %>
    </p>
    <br/>
    <span class="quiet">comment by </span><%= link_to comment.user.username, user_path(comment.user.id) %>
    <small>at <%= pretty_date_time(comment.created_at) %></small>
  </div>
</div>