<div class="well">
  <%= form_for @post do |f| %>
    <div class='control-group'>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>    
    <div class='control-group'>
      <%= f.label :url %>
      <%= f.text_field :url %>
    </div>
    <div class='control-group'>
      <%= f.label :description %>
      <%= f.text_area :description, size: "10x10" %>
    </div>
    
    <br/>
    <!-- attempt using check_box_tag -->
    <% Category.all.each do |cat| %>
      <%= cat.name %>
      <%= check_box_tag :category_ids,
                        cat.id,
                        @post.categories.include?(cat),
                        name: 'post[category_ids][]' %>
    <% end %>
    
    <br/>
    <!-- attempt using collection_check_boxes -->
    <%= collection_check_boxes :post, :category_ids, Category.all, :id, :category_name %><!-- method 'category_name' created in category.rb model -->

    <br/>
    <!-- with looking at the solution -->
    <%= f.collection_check_boxes :category_ids, Category.all, :id, :category_name do |cb| %>
      <% cb.label {cb.check_box + cb.text} %>
    <% end %>


    <%= f.submit action_description, class: 'btn btn-primary' %>
  <% end %>
</div>



