<div class="row">
  <div class="span2 well text-center">
    <% if logged_in? %>
      <div id="vote_up_<%= post.id %>">
        <% if user_voted?(post) %>
          <%= link_to vote_change_post_path(post, vote: true), method: 'patch', remote: true do %>
            <i class="icon-circle-arrow-up"></i>
          <% end %>        
        <% else %>
          <%= link_to vote_post_path(post, vote: true), method: 'post', remote: true do %>
            <i class="icon-circle-arrow-up"></i>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <span id="post_<%= post.id %>_votes"><%= post.total_votes %></span>
    <% if post.total_votes == 1 || post.total_votes == -1 %>
      vote
    <% else %>
      votes
    <% end %>
    <% if logged_in? %>
      <div id="vote_down_<%= post.id %>">
        <% if user_voted?(post) %>
          <%= link_to vote_change_post_path(post, vote: false), method: 'patch', remote: true do %>
            <i class="icon-circle-arrow-down"></i>
          <% end %>        
        <% else %>
          <%= link_to vote_post_path(post, vote: false), method: 'post', remote: true do %>
            <i class="icon-circle-arrow-down"></i>
          <% end %>
        <% end %>
      </div>
    <% end %>

    <% if logged_in? %>
      <div class="well well-small" id="user_vote_<%= post.id %>">
        <% if user_voted?(post) %>
          <small>your vote: <%= vote_for_show(post) %></small>
        <% else %>
          <small>your vote: none</small>
        <% end %>
      </div>
    <% end %>
    <span id="post_<%= post.id %>_msg"></span>
  </div>
  <div class="span8 well">
    <%= render post.categories %>
    <h4><%= link_to post.title, post_path(post) %></h4>
    <p><%= post.description %></p>
    <p>
      <span class="quiet">posted by </span><%= link_to post.user.username, user_path(post.user) %>
      <small>at <%= pretty_date_time(post.created_at) %></small> <!-- post.created_at -->
    </p>
    <small>
      <span>
        <%= link_to("#{post.comments.size} comments", post_path(post)) %>
        <% if logged_in? && (post.user == current_user || current_user.is_admin?) %>
          <%= link_to("Edit", edit_post_path(post), class: "right") %>
        <% end %>
      </span>
    </small>
  </div>
</div>