<div class="row">
  <div class="span8 well">
    <%= render post.categories %>
    <h4><%= link_to post.title, post_path(post) %></h4>
    <p><%= post.description %></p>
    <p>
      <span class="quiet">posted by </span><%= post.user.username %>
      <small>at <%= pretty_date_time(post.created_at) %></small> <!-- post.created_at -->
    </p>
    <small>
      <span>
        <%= link_to("#{post.comments.size} comments", post_path(post)) %>
        <%= link_to("Edit", edit_post_path(post), class: "right") %>
      </span>
    </small>
  </div>
</div>