<p>
  <%= render @post.categories %>
</p>

<%= render 'shared/content_title', title: link_to("#{@post.title}", fix_url(@post))  %>

<p>
  <%= @post.description %>
</p>
<br/>
<% if logged_in? && @post.user == current_user %>
  <small><%= link_to("Edit", edit_post_path(@post), class: 'right') %></small>
<% end %>
<br/>

<hr/>

<!-- this below is code created by me to just try things out -->

<h4>Comments:</h4>

<% @post.comments.each do |comment| %>
  <%= render 'comment', comment: comment, additional_stuff: "" %>
<% end %>

<hr/>

<!-- comments create form -->

<%= render 'shared/validation_error', object: @comment %>

<% if logged_in? %>
  <%= form_for [@post, @comment] do |f| %>
    <%= f.text_area :body %>
    <br/>
    <%= f.submit "Add Comment", class: "btn btn-primary" %>
  <% end %>
<% else %>
  <h4 class="text-center">You must be logged in to comment</h4>
<% end %>
