<p>
  <%= render @post.categories %>
</p>

<%= render 'shared/content_title', title: "#{@post.title}" %>

<p>
  <%= @post.description %>
</p>
<br/>
<small><%= link_to("Edit", edit_post_path(@post), class: 'right') %></small>
<br/>

<hr/>


<!-- this below is code created by me to just try things out -->

<% @post.comments.each do |comment| %>
  <div class="well">
    <p><%= comment.body %></p>
    <small>
      comment by <%= comment.user.username %>
    </small>
  </div>
<% end %>
