<p>
  <%= render @post.categories %>
</p>

<%= render 'shared/content_title', title: link_to("#{@post.title}", fix_url(@post))  %>

<p>
  <%= @post.description %>
</p>
<br/>
<small><%= link_to("Edit", edit_post_path(@post), class: 'right') %></small>
<br/>

<hr/>

<!-- this below is code created by me to just try things out -->

<% @post.comments.each do |comment| %>
  <div class="well">
    <p><%= comment.body %></p>
    <span class="quiet">comment by </span><%= comment.user.username %>
    <small>at <%= pretty_date_time(comment.created_at) %></small>
  </div>
<% end %>

<!-- comments create form -->

<%= render 'shared/validation_error', object: @comment %>

<%= form_for [@post, @comment] do |f| %>
  <%= f.text_area :body %>
  <br/>
  <%= f.submit "Add Comment", class: "btn btn-primary" %>
<% end %>
